@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ncgc0a');
  src:  url('fonts/icomoon.eot?ncgc0a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ncgc0a') format('truetype'),
    url('fonts/icomoon.woff?ncgc0a') format('woff'),
    url('fonts/icomoon.svg?ncgc0a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-google:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}

